.index01_div01{
    background-color: #0023F5;
    width: 500px;
    height: 500px;
}

.index01_div02{
    background-color: #EB3223;
    width: 400px;
    height: 400px;
}

.index01_div03{
    background-color: #000000;
    width: 300px;
    height: 300px;
}

.index01_div04{
    background-color: #377D22;
    width: 200px;
    height: 200px;
}

.index01_div05{
    background-color: #E4EC4D;
    width: 100px;
    height: 100px;
}