.index03_div01{
    background-color: #535353;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    width: 700px;
    height: 200px;
    padding: 5px;
    text-align: right;
}

.index03_div02{
    background-color: #535353;
    color: #fff;
    text-transform: lowercase;
    border: 2px solid red;
    width: 700px;
    height: 150px;
    padding: 5px;
    text-align: left;
    overflow: auto;
}